@import '../../app.scss';


.about {
    height: 100%;
    max-width: max-content;
    display: flex;
    justify-content: space-between;
    overflow: initial;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            display: flex;
            align-self: center;
            text-align: center;
            flex-direction: column;
            justify-content: center;
        }
        @include mobile-smaller{
            display: flex;
            align-self: center;
            text-align: center;
            flex-direction: column;
            justify-content: center;
        }
        

        h1 {
            font-size: 76px;
            font-weight: 100;
            margin-bottom: 75px;
            margin-top: 30px;
            @include mobile{
                font-size: 36px;
                margin-bottom: 30px;
                margin-top: 5px;
            }

            @include mobile-smaller{
                font-size: 30px;
                margin-bottom: 25px;
                margin-top: 0px;
            }
        }

        .box {
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile{
                padding: 10px;
            }

            @include mobile-smaller{
                padding: 5px;
            }

            h2 {
                font-size: 45px;
                font-weight: 500;
                align-self: center;
                margin-bottom: 50px;

                @include mobile{
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                @include mobile-smaller{
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }

            p {
                color: gray;
                font-size: 20px;

                @include mobile{
                    font-size: 20px;
                }
                @include mobile-smaller{
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
        }

    }

    .imageContainer {
        flex: 1;
        @include mobile{
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            background-color: inherit;
            object-fit: cover;

        }
    }
}